<html>
    <head>
        <title>Voice Password</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.js"></script>
        
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/"></a></li>
                        <li><a href="/recorder"></a></li>
                        <li><a href="/authorizing"></a></li>
                        <li><a href="/authorized"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <h1><center>Voice Password</center></h1>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
