{% extends "base.html" %}
{% block body %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    </head>
    <body>
        <h3>Welcome, ritchieleeann</h3> 
        <h3>Please follow these steps to record your password.</h3>
        <h3>1. Press Allow</h3>
        <h3>2. Press R to record </h3>
        <h3>3. Press S to stop
        <h3 id="output"></h3>
        <form id="audio_form" action="/authorized" method="POST">
        <input id="audio_data" type="hidden" name="audio" value="" />
        </form>
    <script src="/static/js/recorder.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    </body>
{% endblock %}